# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc

# MediaPipe models & Dataset
utils/*.task
*.task

# Optional: Kalau kamu tidak ingin mengupload X.npy dan y.npy (9 MB) karena terlalu besar,
# kamu bisa uncomment dua baris di bawah ini. Namun actions.npy wajib di-push.
# preprocessed_data/X.npy
# preprocessed_data/y.npy

# IDE Config
.vscode/
.idea/
